
body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.brain{
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(14, 14, 14);
    text-align: center;
}

.fond {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background: rgb(160,5,156);
    background: linear-gradient(90deg, rgba(160,5,156,1) 22%, rgba(211,2,213,1) 43%, rgba(214,0,255,1) 69%, rgba(218,0,255,1) 87%);
    height: 150px;
}

img{
    margin-top: -100px;
    border: 3px solid rgb(244, 223, 223);
    border-radius: 360px;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 0px 10px rgb(225, 216, 216);
}

.pervoe{
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
}

.text{
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 0px 20px;
    text-align: justify;
}

.vtoroe{
    text-align: center;
}

.Knopka{
    padding: 20px 15px 30px;
}

button{
    background: rgb(29, 178, 29);
    color: white;
    box-shadow: 0px 0px 10px rgb(14, 14, 14);
    border: 0px;
    border-radius: 8px;
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
}

/*              NEXT             */

.container{
    width: 70vw;
    margin: 0px auto;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(12, 12, 12);
    border-radius: 8px;
}

/*       HEADER        */
header{
    padding: 20px;
}

header > .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

header > .logo > h1{
    margin-right: auto;
    font-size: 40px;
}

header > .logo >a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header > .logo2 > h1{
    font-size: 35px;
}

header > .logo2 > p{
    text-align: justify;
    font-size: 25px;
}

/*          MAIN         */
main{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

main > .component{
    border-radius: 8px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 25px auto;
    width: calc((100% - 2 * 50px) / 3);
}

/*         FOOTER       */
footer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer > h1{
    margin-left: 15%;
}

footer > p{
    font-size: 30px;
}

footer > a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}



