body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.container{
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 1050px;
    padding: 10px;
    display: flex;
    border: 1px solid rgb(181, 173, 173);
    box-shadow: 0px 0px 25px rgb(139, 133, 133);
}

.photo{
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 190, 190);
    box-shadow: 0px 0px 25px rgb(196, 190, 190);
}

img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    border-radius: 360px;
}

.photo  h2{
    text-align: center;
}

.photo  p{
    text-align: center;
    color: rgb(112, 108, 108);
    font-size: 15px;
    margin-top: -10px;
}

.wrap {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.report{
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Contributions{
    text-align: center;
    width: 200px;
    height: 250px;
    border: 1px solid rgb(196, 190, 190);
    box-shadow: 0px 0px 25px rgb(196, 190, 190);
}

.Contributions > p:nth-child(1){
    color: #2EE59D;
    font-size: 23px;
    padding-top: 80px;
}

.Contributions > p:nth-child(2){
    color: gray;
}

.Followers{
    text-align: center;
    width: 200px;
    height: 250px;
    border: 1px solid rgb(196, 190, 190);
    box-shadow: 0px 0px 25px rgb(196, 190, 190);
}

.Followers > p:nth-child(1){
    color: #2EE59D;
    font-size: 23px;
    padding-top: 80px;
}

.Followers > p:nth-child(2){
    color: gray;
}

.Repositories{
    text-align: center;
    width: 200px;
    height: 250px;
    border: 1px solid rgb(196, 190, 190);
    box-shadow: 0px 0px 25px rgb(196, 190, 190);
}

.Repositories > p:nth-child(1){
    color: #2EE59D;
    font-size: 23px;
    padding-top: 80px;
}

.Repositories > p:nth-child(2){
    color: gray;
}

.all_report{
    display: flex;
    flex-direction: column;
}

.buttom_report{
    margin-top: 10px;
    margin-left: 10px;
    width: 620px;
    height: 235px;
    border: 1px solid rgb(196, 190, 190);
    box-shadow: 0px 0px 25px rgb(196, 190, 190);
}

.buttom_report  h2{
    padding-top: 10px;
    text-align: center;
}

.buttom_report  p{
    text-align: justify;
    margin: auto 15px;
    font-size: 19px;
    color: rgb(112, 108, 108);
}

